* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  align-items: center;
  padding: 25px 8%;
   padding: 1rem 5%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo { font-size: 24px; font-weight: bold; color: #e67e22; }
.logo span { color: #2c3e50; }

.nav-links { display: flex; list-style: none; gap: 25px; }
.nav-links a { text-decoration: none; color: #666; font-size: 14px; }
.nav-links a.active { color: #e67e22; font-weight: bold; }

/* 内容区域 */
.dishes-container {
  flex: 1;
  padding: 50px 8%;
  text-align: center;
}

.section-title h2 { font-size: 28px; margin-bottom: 10px; }
.section-title p { color: #888; margin-bottom: 40px; }

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.dish-item {
  text-align: left;
  background: #fff;
}

.image-wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.content { padding: 20px 0; }
.category { color: #e67e22; font-size: 12px; font-weight: bold; letter-spacing: 1px; }
.content h3 { margin: 10px 0; font-size: 20px; color: #222; }
.content p { color: #777; font-size: 14px; }


.footer {
  background-color: #2c4a63; 
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.social-icons a {
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
}

.footer p {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body {
    background-color: #f9f7f2;
    color: #333;
    line-height: 1.6;
}